@model IEnumerable<ApproveRecordsData>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <td>@item.BookTitle</td>
                <td>@item.Username</td>
            </tr>

        }
    </tbody>
</table>
